.main-cart{
    /* padding:20px; */
    font-size:20px;
    font-variant: small-caps;
    /* margin:20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-bottom:400px;
    height: calc(100% - 60px);



}

.cartobj{
    font-size:20px;
    border-bottom: 2px solid  #242F3E;
}

.cartlist{
    list-style-type: none;
}

.cart-button {
    background-color: #242F3E;
    font-size:15px;
    color:white;
    margin:10px;
    padding:10px 20px;
    border-radius: 20px;
    border: 1px solid ,  #242F3E;
    font-variant:small-caps;
}

.yoyo{
    padding:20px;
    padding-right: 200px;
    border-radius: 25px;
    border-color:black;
    background-color:lightsteelblue;
    border: 5px solid  #242F3E;

}
.h3{
    color:#242F3E;
}