.main-home{
    padding:20px;
    font-size:20px;
    font-variant: small-caps;
    /* margin:20px; */
    display: flex;
    color: floralwhite;
    flex-direction: column;
    align-items: center;
    background-color: #3c4d5f;
    border-radius: 25px;
    padding: 5px;
    margin:12px;
}
/* .container{
    margin:12px;
} */
.news{
    font-size:30px;
    font-variant:small-caps;
    color:floralwhite;
}

.newsdata{
    font-size:20px;
    margin:20px;
}

.carousel-item > img {
    width: 100%;
    height: 400px;
    align-items: center;
    background-color: #3c4d5f;
}

marquee {
    padding: 0 50px 0 30px;
    max-height: 30%;
    height: 250px;
    color: #242F3E;
}

marquee > a {
    color: white;
    text-align: justify;
    border-radius: 25px;
    padding: 5px;
}

loading {
    color: floralwhite;
}