.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}

.main{
    font-size:20px;
    font-variant: small-caps;
    flex-direction: column;
}

.add{
    font-size:20px;
    padding:5px;
    margin:15px;

}

.remove{
    font-size:20px;
    padding:5px;
    margin:15px;
}

.row {
    padding: 15px;
}
.product1{
    /* padding:20px;
    margin:20px; */
    display: flex;
  flex-direction: column;
  align-items: center;
  border:3px green solid;
}
.product2{
    /* padding:20px;
    margin:20px; */
    display: flex;
  flex-direction: column;
  align-items: center;
  border:1px black solid;
}

select {
    background: transparent;
    border: none;
    padding: 6px 12px;
}

/* button {
    padding: 6px 12px;
    background: transparent;
    border: none;
} */

.input-group-addon {
    padding: 0!important;
  }